<!--<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   <welcome-file-list>
        <welcome-file>pages/login.jsp</welcome-file>
    </welcome-file-list>
   <context-param>
        <param-name>driverClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>connectionString</param-name>
        <param-value>jdbc:mysql://localhost:3306/traffic_police</param-value>
    </context-param>
    <context-param>
        <param-name>db_username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>CXKyE2ZpT%HjbP!4c$</param-value>
        <param-value>root</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>emergency_user</servlet-name>
        <jsp-file>/emergency_user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>emergency_user</servlet-name>
        <url-pattern>/emergency_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>emergency</servlet-name>
        <jsp-file>/emergency.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>emergency</servlet-name>
        <url-pattern>/emergency</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>success</servlet-name>
        <jsp-file>/success.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>emergency_operator</servlet-name>
        <jsp-file>/emergency_operator.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>emergency_operator</servlet-name>
        <url-pattern>/emergency_operator</url-pattern>
    </servlet-mapping>
    
</web-app>-->
